<a href="https://colab.research.google.com/github/cyber-mery/michael-scott-chatbot/blob/main/chatbot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#import dataset file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
#change the current directory => go to My Drive 
#use os (operating system) module
import os
os.chdir('/content/drive/My Drive')

In [17]:
#check My drive: we need the-office_lines file 
!ls

 BenFadhel.doc					    Font.txt
 Brand.svg					    Icons
 certif.pdf					    mbf.pdf
'Colab Notebooks'				    mypicc.jpg
 color-palettes.png				    rapport.pdf
'correction série 2 ex 3,4 et 5.pdf'		    SeanceTxTD.mp4
 CoursBDD					   'série 3 ACM.pdf'
 Design.png					    theOffice.csv
 dsc_hero_720.jpg				    Transmission
 english_test_net_100_toefl_preparation_tests.pdf   video.mp4
 Enreg-TLC

In [42]:
#import re module (regular expression) and pandas
import pandas as pd
data = pd.read_csv('theOffice.csv',delimiter=',')
data.head()

   Unnamed: 0 Character  ... Season  Episode_Number
0           0   Michael  ...      1               1
1           1       Jim  ...      1               1
2           2   Michael  ...      1               1
3           3       Jim  ...      1               1
4           4   Michael  ...      1               1

[5 rows x 5 columns]

In [ ]:
data.

# New Section